*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  margin: 0;
  margin: 0;
  --color-text: #111;
  --color-bg: #f8c792;
  --color-link: #000;
  --color-link-hover: #000;
  --color-border: #a7927b;
  --marquee-bg: #000;
  --marquee-text: #fff;
  --menu-focus: #775e41;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: reason-new, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu_wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh-13rem);
  position: relative;
  justify-content: center;
}

.menu_item {
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -1px var(--color-border);
}
.menu_item:last-child {
  box-shadow: 0 1px var(--color-border), 0 -1px var(--color-border);
}

.menu_item-link {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.menu_item-link:focus,
.menu_item-link:focus-visible {
  color: var(--menu-focus);
}

.menu__item-link:focus:not(:focus-visible) {
  color: var(--color-link);
}
.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: var(--marquee-bg);
  transform: translate3d(0, 101%, 0);
}
.marquee_inner-wrap {
  height: 100%;
  width: 100%;
  transform: translate3d(0, -101%, 0);
}

.marquee_inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 15s linear infinite;
  will-change: transform;
}

.marquee_img {
  width: 15vw;
  height: 70%;
  margin: 0 2vw;
  border-radius: 5vw;
  background-size: cover;
  background-position: 50% 50%;
}
@keyframes marquee {
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.menu_item-link,
.marquee span {
  white-space: nowrap;
  font-size: 6vw;
  line-height: 1.2;
  font-weight: 600;
  padding: 1vh 1vw 0;
  text-transform: uppercase;
}

.marquee span {
  text-align: center;
  color: var(--marquee-text);
  font-weight: 400;
}

@media screen and (min-width: 53em) {
  .menu-wrap {
    height: 100vh;
  }
}
